@media only screen and (max-width: 321px) {
    .tab-height {
        height: 25px;
    }

    .text-header {
        font-size: 10px !important;
        padding-bottom: 4px !important;
    }
}

@media only screen and (max-width: 600px) {
    .name-cash {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .text-header {
        font-size: 20px !important;
        padding-bottom: 4px !important;
    }

    .tab-height {
        height: 40px !important;
    }
}

.nav-tabs li.active a {
    background-color: #3E4095 !important;
    color: #fff !important;
}