@using WebCore.Entities;
@using WebAppCoreNew.Common;
@using WebModelCore;
@using System.Collections.Generic;
@using WebModelCore.CodeInfo;
@model WebAppCore.Models.ModSearchControlModel

<div class="col-sm-6 control-modsearch">
    <div class="col-sm-6 control">
        <label class="control-label">
            @Model.FldInfo.GetLanguage(Model.Languages, Model.ModInfo.ModuleName)
        </label>
        @Html.Raw(Model.FldInfo.GetHtmlControl(Model.CodeInfos, Model.Languages, "", null, Model.ModInfo.ModuleName, ""))
    </div>
    <div class="col-sm-6 condition">
        <label class="control-label">
            Mệnh đề
        </label>
        <select class="form-control">
            @foreach (var item in Model.Condition)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
</div>