@using WebModelCore.Common;
@using WebAppCoreNew.Common;
@using WebModelCore;
@using WebModelCore.CodeInfo;
@using System.Collections.Generic;
@model RowGridModMaintainModel
@{
    Layout = null;
    var fieldGrid = Model.Fields;
    var moduleInfoModel = Model.ModuleInfo;
    var codeInfos = (List<CodeInfoModel>)ViewBag.DataCombobox;
    var dataControl = (List<dynamic>)null;
}

<tr>
    @foreach (var field1 in fieldGrid)
    {
        if (field1.HideWeb == "Y")
        {
            continue;
        }
        <td><input type="text" value="@field1.FieldID" /></td>
    }
</tr>

